@charset "utf-8";

@font-face {
  font-family: "RixInooAriDuriR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.flex {
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #ffdbdb;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  height: 10%;
  background: #ff98ae;

  border-radius: 10px;
}
header {
  font-family: "Cafe24Ssurround", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: #221510;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9999;
  border-bottom: 3px solid #ffd5a5;
  transition: 0.3s;
}
header h1,
header h2 {
  margin: 20px 50px;
  text-transform: uppercase;
  font-weight: bold;
}
header h1:hover,
header h2:hover {
  color: #880303;
}
/* 로고 굴러가게 */
main a .logo_img {
  width: 100px;
  position: fixed;
  top: 20px;
  left: calc(50% - 50px);
  z-index: 9999;
  animation: rotate_image 10s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
/* 프로필 */
.profil {
  margin: 70px 50px 0;
  background-color: #fff;
  border-bottom: 3px solid #ffcbcb;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
}
.profil_left {
  margin: 200px 0 0 100px;
  text-align: left;
  width: 33%;
}
/* keyword */
.profil_left .profil_txt {
  position: relative;
}
.profil_left .profil_txt h1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 50px 0 30px 20px;
}
.profil_left .profil_txt .keyword {
  margin: 10px;
  flex-wrap: wrap;
}
/* 꿀벌 펜 이미지 */
.profil_left .profil_txt .keyword .pen {
  width: 120px;
  position: absolute;
  top: -70px;
  left: 500px;
  transition: 0.3s;
  transform: rotate(15deg);
}
.profil_left .profil_txt .keyword h2 {
  margin: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}
.profil_left img {
  width: 300px;
}
.profil_center {
  margin-top: 300px;
  font-size: 1.8rem;
  width: 33%;
  text-align: left;
  line-height: 1.5;
  font-family: "GyeonggiTitleM";
  /*!!!!!!!!!!!!!!!!!!!!!!!*/
}
.profil_center h1 {
  width: 100%;
}
.profil_right {
  margin-top: 100px;
  position: relative;
  width: 33%;
}
.profil_right .main {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  z-index: 999;
}
.profil_right .img_slide1 {
  width: 200px;
  height: 406px;
  position: absolute;
  top: 200px;
  left: 100px;
  display: flex;
  overflow: hidden;
}
.profil_right .img_slide1 img {
  width: 200px;
}
.profil_right .slide_btn {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 100px;
}
.profil_right .slide_btn li {
  width: 40px;
  height: 10px;
  border-radius: 20px;
  text-indent: -9999px;
  background-color: #ffd5a5;
  margin: 10px;
  transition: 0.3s;
}
.profil_right .slide_btn li:hover {
  background-color: #ffa2a2;
}

/* skills */
.skills {
  margin: 0 50px;
  background-color: #fff;
  padding-bottom: 100px;
  position: relative;
}
.skills .dance {
  width: 100px;
  position: absolute;
  top: 40%;
  left: 10%;
}
.skills h1 {
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  padding: 200px 300px 20px;
}

.skills .skillBox {
  margin: 0 auto;
  text-align: left;
  width: 900px;
  border-bottom: 2px solid #ffd5a5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  transition: 0.4s;
}
.skills .skillBox:hover {
  background-color: hsla(49, 100%, 86%, 0.719);
  border-radius: 20px;
  transform: translateX(20deg);
}
.skills .skillBox h2 {
  margin: 70px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 20px;
}

/* .skills .skillBox h2:hover {
  background: linear-gradient(90deg, #ffd5a5, #ffa2a2);
  border-radius: 20px;
} */
.skills .skillBox p {
  font-size: 1.2rem;
  line-height: 1.8;
}

/* 슬라이드 텍스트 */
.viewBox {
  width: 100%;
  height: 80px;
  margin-top: 100px;
  overflow: hidden;
}
.slideBox {
  width: 200%;
  height: 100%;
  display: flex;
  animation: flowText 20s linear infinite;
  border: #db8261 2px solid;
  border-left: none;
  border-right: none;
  padding: 10px;
  /* background: linear-gradient(to right,#ffbebe,#ffe4b3); */
  background-color: #ffd5a5;
}
.leftBox,
.rightBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slideItem {
  font-size: 20px;
  font-weight: bold;
  color: #db8261;
  display: flex;
  align-items: center;
}
.slideItem img {
  width: 20px;
  height: 20px;
}
@keyframes flowText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*--- 흘러가는 글씨 끝!! ---*/

/* contact */
main .contact {
  position: relative;
  text-align: center;
  background: url(./imgaes/피그마배경.png) no-repeat 50% / cover;
  width: 100%;
  height: 85vh;
}
main .contact .txt h1 {
  font-weight: bold;
  font-size: 4rem;
  color: #943c1c;
  padding-top: 200px;
}
main .contact .txt h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #b37733;
  padding-top: 50px;
}
main .contact .link {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
main .contact .link a {
  margin: 15px;
  padding: 10px;
  font-weight: bold;
  font-size: 2rem;
  color: #854646;
  transition: 0.3s;
  background-color: #fff;
  border: 1px solid #ffd5a5;
  border-radius: 20px;
}
main .contact .link a:hover {
  color: #d67b8e;
  transform: scale(1.1);
}
main .contact img {
  width: 100px;
  position: absolute;
}
main .contact .moving1 {
  animation: flower1 infinite 4s ease-in-out;
}
main .contact .moving2 {
  animation: flower2 infinite 2s ease-in-out;
}
main .contact .moving3 {
  animation: flower3 infinite 3s ease-in-out;
}
@keyframes flower1 {
  0%,
  100% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
@keyframes flower2 {
  0%,
  100% {
    transform: translateX(-2px) rotate(-5deg);
  }
  50% {
    transform: translateX(0) rotate(10deg);
  }
}
@keyframes flower3 {
  0%,
  100% {
    transform: translateX(2px) rotate(-10deg);
  }
  50% {
    transform: translateX(0) rotate(5deg);
  }
}
main .contact .img1 {
  top: 15%;
  left: 4%;
  width: 15%;
  z-index: 99;
}
main .contact .img2 {
  top: 30%;
  left: 75%;
  width: 22%;
}
main .contact .img3 {
  top: 15%;
  left: 85%;
  width: 10%;
}
main .contact .img4 {
  top: 7%;
  left: 15%;
  width: 9%;
}
main .contact .img5 {
  top: 37%;
  left: 0;
  width: 12%;
}
main .contact .tulip-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: absolute;
  bottom: 10px;
}
main .contact .tulip-wrapper img {
  position: relative;
  margin: 10px;
  animation: tulip infinite 3s;
  transform-origin: 50% 100%;
  animation-direction: alternate;
}
@keyframes tulip {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
