@charset "utf-8";

@font-face {
  font-family: "RixInooAriDuriR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #ffdbdb;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  height: 10%;
  background: #ff98ae;

  border-radius: 10px;
}
header {
  font-family: "Cafe24Ssurround", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
  color: #221510;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9999;
  border-bottom: 3px solid #ffd5a5;
  transition: 0.3s;
}
header h1 {
  margin: 20px 50px;
  text-transform: uppercase;
  font-weight: bold;
}
header h1:nth-child(2) {
  font-size: 1.5rem;
}
main {
  background-color: #ffdbdb;
}
main .container {
  background-color: #fff;
  position: relative;
  margin: 70px 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
main .container .main-logo {
  position: absolute;
  top: 30%;
  width: 400px;
  animation: rotate_image 10s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
main .container .project {
  margin: 100px 200px;
}
main .container .project h1 {
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.4s;
  width: 200px;
  margin: 20px auto;
  border-radius: 50%;
}
main .container .project:hover h1 {
  background-color: #ffefd0c0;
  border-radius: 50%;
}

/******* 흘러가는 글씨 *******/

.viewBox {
  width: 100%;
  height: 80px;
  border: 1px solid #000;
  margin-top: 100px;
  overflow: hidden;
}
.slideBox {
  width: 200%;
  height: 100%;
  display: flex;
  animation: flowText 20s linear infinite;
  border: #db8261 1px solid;
  padding: 10px;
  /* background: linear-gradient(to right,#ffbebe,#ffe4b3); */
  background-color: #ffd5a5;
}
.leftBox,
.rightBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slideItem {
  font-size: 20px;
  font-weight: bold;
  color: #db8261;
  display: flex;
  align-items: center;
}
.slideItem img {
  margin-right: 70px;
  width: 20px;
  height: 20px;
}
@keyframes flowText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* contact */
main .contact {
  position: relative;
}
main .contact .background {
  width: 100%;
  position: relative;
}
main .contact .txt h1 {
  font-weight: bold;
  font-size: 3.5rem;
  color: #db8261;
  position: absolute;
  top: 30%;
  left: 30%;
}
main .contact .txt h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffd5a5;
  position: absolute;
  top: 40%;
  left: 30%;
}
main .contact .txt a {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  font-size: 2rem;
  color: #ffbebe;
  transition: 0.3s;
}
main .contact .txt a:hover {
  color: #c45f75;
}
main .contact .txt a:nth-child(3) {
  left: 35%;
}
main .contact .txt a:nth-child(4) {
  left: 50%;
}
main .contact .txt a:nth-child(5) {
  left: 60%;
}
main .contact img {
  width: 100px;
  position: absolute;
}
main .contact .img1 {
  top: 5%;
  left: 4%;
  width: 15%;
  z-index: 99;
}
main .contact .img2 {
  top: 30%;
  left: 75%;
  width: 25%;
}
main .contact .img3 {
  top: 20%;
  left: 85%;
  width: 10%;
}
main .contact .img4 {
  top: 4%;
  left: 15%;
  width: 12%;
}
main .contact .img5 {
  top: 30%;
  left: 0;
  width: 15%;
}
