@charset "utf-8";

/* font font-family: 'Anton', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.flex {
  display: flex;
}
body {
  position: relative;
  width: 100vw;
  height: 100%;
  /* overflow: hidden; */
}
body::-webkit-scrollbar {
  display: none;
}
main {
  width: 100vw;
  height: 100%;
}
/* 시작! */

header {
  z-index: 9999;
  width: 400px;
  height: 150px;
  position: fixed;
  right: 0;
  transform: translateX(250px);
  transition: 0.3s;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  /* background: #000; */
}
header.active {
  height: 100vh;
  transform: translateX(0);
  background: linear-gradient(#71aad8, #e6a5ec);
}
/* 인터넷 긁어온 햄버거 메뉴 */
.menu-trigger {
  margin-right: 70px;
  margin-bottom: 50px;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  top: 40px;
  left: -80px;
  width: 50px;
  height: 44px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
/* type-02 */
/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인  회전하며 엑스자 만들기 */
.menu-trigger.active-2 span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-315deg);
  transform: translateY(20px) rotate(-315deg);
}
.menu-trigger.active-2 span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active-2 span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(315deg);
  transform: translateY(-20px) rotate(315deg);
}
/* 
header img {
  width: 100px;
  height: 100%;
} */
header ul {
  flex-direction: column;
}
header ul li {
  padding: 50px 10px;
}

/******* 러쉬 메인 시작 *******/
.lush_main {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-color: #212121; */
  background: url(./images/figma/lush_bg00.svg) no-repeat 50% / cover;
  justify-content: center;
  align-items: center;
}
/* 백그라운드에 들어가는 꽃 이미지 */
.lush_main .bg img {
  position: absolute;
}
.lush_main .bg img:nth-child(1) {
  top: 80px;
  left: 0;
  width: 220px;
}
.lush_main .bg img:nth-child(2) {
  width: 180px;
  top: 0;
  right: 0;
}
.lush_main .bg img:nth-child(3) {
  width: 350px;
  bottom: -20px;
  left: 20px;
}
.lush_main .bg img:nth-child(4) {
  width: 250px;
  bottom: 100px;
  right: 20px;
  transform: rotate(20deg);
  opacity: 0.8;
}
.lush_main .bg img:nth-child(5) {
  width: 400px;
  top: 20px;
  left: 130px;
}
.lush_main .bg img:nth-child(6) {
  width: 400px;
  opacity: 0.8;
  top: 0;
  right: 350px;
}
/* 러쉬 메인 z idx 조절 */
.lush_main .text,
.lush_main .img {
  z-index: 999;
  position: relative;
}
.lush_main .text {
  width: 40%;
  left: 120px;
}
/* 러쉬 텍스트 */
.lush_main .text h1 {
  font-family: "Anton", sans-serif;
  font-size: 350px;
  color: #fff;
  line-height: 1;
  text-shadow: 5px 5px 7px #1f1f1fb0;
  display: flex;
}

.lush_main .text h2 {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ddd;
  line-height: 1;
  transform: translateY(220px);
  opacity: 0;
  transition: 0.5s;
  text-shadow: 5px 5px 7px #1f1f1f83;
}
.lush_main:hover .text h2 {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1s;
}
.lush_main .text h3 {
  color: #ddd;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.2;
  transform: translateY(200px);
  opacity: 0;
  transition: 0.8s;
  text-shadow: 5px 5px 7px #1f1f1f83;
}
.lush_main:hover .text h3 {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1.2s;
}
/* 러쉬 이미지 */
.lush_main .img {
  width: 800px;
  transform: translateY(-400px);
  transition: 0.5s;
  opacity: 0;
  margin-top: 200px;
}
.lush_main:hover .img {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.5s;
}
/******* 러쉬 메인 끝! *******/

.about {
  width: 100%;
  height: 110vh;
  overflow: hidden;
  position: relative;
  top: -80px;
}
.about .bg {
  /* position: absolute; */
  background: url(./images/figma/lush_bg01.svg) no-repeat 50%;
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.about .img img {
  position: absolute;
}
.about .img img:nth-child(1) {
  top: 30%;
}
.about .img img:nth-child(2) {
  bottom: 10px;
  left: 50px;
  width: 55%;
  filter: grayscale(100%);
  transition: 0.2s;
}
.about .img:hover img:nth-child(2) {
  filter: grayscale(0%);
}
.about .img img:nth-child(3) {
  top: 50%;
  left: 0;
}
.about .text {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 250px 200px;
  font-weight: 600;
}
.about .text h1 {
  font-family: "Anton", sans-serif;
  font-size: 300px;
  line-height: 1;
  text-shadow: 5px 5px 7px #1f1f1fb0;
  display: flex;
}
.about .text p {
  z-index: 999;
  font-size: 1.05rem;
  line-height: 1.5;
  color: #fff;
  margin: 30px 0;
  font-size: 18px;
}
.about .text .learn_more {
  width: 200px;
  height: 70px;
  position: relative;
}

.about .text .learn_more img {
  width: 100%;
}
.about .text .learn_more p {
  position: absolute;
  top: 25%;
  left: 15%;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: inherit;
}
.about .text .learn_more:hover p {
  color: #fff;
}
.about .text .learn_more:hover img {
  filter: invert(45%) sepia(44%) saturate(271%) hue-rotate(212deg)
    brightness(92%) contrast(83%);
  transform: scale(1.05);
}
/* services 시작 */
.services {
  width: 100%;
  /* height: 100vh; */
  position: relative;
  top: -140px;
  background: url(./images/figma/lush_bg00.svg) no-repeat 50%;
  background-position: 0 0;
  background-size: cover;
  padding: 250px 0;
}
/* .services .bg {
  position: absolute;
  top: -170px;
} */
.services h1 {
  font-family: "Anton", sans-serif;
  font-size: 300px;
  line-height: 1;
  color: #fff;
  text-shadow: 5px 5px 7px #1f1f1fea;
  display: flex;
  justify-content: center;
}
.services .flex {
  justify-content: center;
  align-items: center;
}

.services .flex li {
  margin: 0 50px;
  position: relative;
  /* top: -30px; */
}
.services .flex img {
  z-index: 999;
  /* width: 130%; */
  width: 350px;
  transition: 0.2s;
  opacity: 0.7;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.services .flex li:hover img {
  /* transform: scale(1.02); */
  /* border: 5px solid #ffffff; */
  opacity: 1;
  transform: translateY(-30px);
}

.product {
  background: url(./images/figma/lush_bg02.svg) no-repeat 50% / cover;
  background-position: 0 0;
  position: relative;
  top: -220px;
  padding-bottom: 150px;
}
.product h1 {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 300px;
  line-height: 1;
  text-shadow: 5px 5px 7px #1f1f1fb0;
  padding-top: 200px;
  display: flex;
  justify-content: center;
}
.product .swiper {
  width: 100%;
  position: relative;
  top: -40px;
}
.product .swiper .swiper-slide {
  width: 50%;
}
.product .swiper .swiper-slide img {
  width: 100%;
}

.contact {
  width: 100%;
  background: url(./images/figma/lush_bg00.svg) no-repeat 50% / cover;
  background-position: 0 0;
  position: relative;
  top: -320px;
  padding-bottom: 200px;
}
.contact h1 {
  font-family: "Anton", sans-serif;
  font-size: 300px;
  line-height: 1;
  text-shadow: 5px 5px 7px #1f1f1fb0;
  margin-left: 200px;
  padding-top: 200px;
  color: #fff;
  display: flex;
}
.contact .flex {
  margin: 20px;
  justify-content: center;
  align-items: center;
}
.contact .text {
  margin: 100px 50px;
  color: #fff;
}
.contact .text h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
  transform: translateX(-50px);
  opacity: 0;
  transition: 0.3s;
}
.contact:hover .text h2 {
  transform: translateY(0);
  opacity: 1;
}

.contact .text h3 {
  font-size: 1.4rem;
  margin-bottom: 30px;
  transform: translateX(-50px);
  opacity: 0;
  transition: 0.5s;
}
.contact:hover .text h3 {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.2s;
}
.contact .text .learn_more {
  width: 200px;
  height: 70px;
  position: relative;
  opacity: 0;
  transition: 0.3s;
}
.contact:hover .text .learn_more {
  opacity: 1;
  transition-delay: 0.2s;
}
.contact .flex .text .learn_more img {
  width: 50%;
}
.contact .text .learn_more p {
  position: absolute;
  top: 25px;
  left: 25%;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: #000;
}
.contact .text .learn_more:hover p {
  color: #fff;
  transform: scale(1.1);
}
.contact .text .learn_more:hover img {
  filter: invert(45%) sepia(44%) saturate(271%) hue-rotate(212deg)
    brightness(92%) contrast(83%);
  transform: scale(1.05);
}
.contact .img {
  position: relative;
  top: -70px;
  width: 700px;
}

footer {
  width: 100%;
  height: 20vh;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 100px;
}
footer .bg {
  width: 100vw;
  height: 500px;
  position: absolute;
}
footer img {
  width: 130px;
  margin-top: 50px;
  /* height: 100%; */
}
footer .text {
  z-index: 999;
  width: 100%;
  height: 20vh;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;
  padding: 20px 80px;
  color: #222;
}
/* footer .text .left .top li {
  font-size: 1.2rem;
  font-weight: bold;
} */
footer .text .left .top li,
footer .text .center p,
footer .text .right p {
  margin: 20px;
  margin-left: 0;
  font-size: 1.2rem;
  font-weight: bold;
}
footer .text .left ul li,
footer .text .center ul li,
footer .text .right ul li {
  margin: 5px 0;
}
footer .text .left .icon {
  display: flex;
  align-items: center;
  height: 10px;
}
footer .text .left .icon li {
  margin: 0 5px;
}
footer .text .left .icon img {
  width: 30px;
}
.button {
  width: 100%;
  color: #000000;
}

/* 움직이는 글자 */

/* 숨긴 글자 보이게 */
.lush_main .text h1 .move_text,
.about .text h1 .move_text,
.services h1 .move_text,
.product h1 .move_text,
.contact h1 .move_text {
  transform: translateY(250px) rotate(50deg);
  opacity: 0;
  transition: 0.2s;
}
/* 호버시 나타나기 */
.lush_main:hover .text h1 .move_text,
.about:hover .text h1 .move_text,
.services:hover h1 .move_text,
.product:hover h1 .move_text,
.contact:hover h1 .move_text {
  transform: translateY(0) rotate(0);
  opacity: 1;
}
/* 글자 따로 움직이게 딜레이 줌 */
.lush_main:hover .text h1 .move_text:nth-child(1),
.about:hover .text h1 .move_text:nth-child(1),
.services:hover h1 .move_text:nth-child(1),
.product:hover h1 .move_text:nth-child(1),
.contact:hover h1 .move_text:nth-child(1) {
  transition-delay: 0.1s;
}
.lush_main:hover .text h1 .move_text:nth-child(2),
.about:hover .text h1 .move_text:nth-child(2),
.services:hover h1 .move_text:nth-child(2),
.product:hover h1 .move_text:nth-child(2),
.contact:hover h1 .move_text:nth-child(2) {
  transition-delay: 0.2s;
}
.lush_main:hover .text h1 .move_text:nth-child(3),
.about:hover .text h1 .move_text:nth-child(3),
.services:hover h1 .move_text:nth-child(3),
.product:hover h1 .move_text:nth-child(3),
.contact:hover h1 .move_text:nth-child(3) {
  transition-delay: 0.3s;
}
.lush_main:hover .text h1 .move_text:nth-child(4),
.about:hover .text h1 .move_text:nth-child(4),
.services:hover h1 .move_text:nth-child(4),
.product:hover h1 .move_text:nth-child(4),
.contact:hover h1 .move_text:nth-child(4) {
  transition-delay: 0.4s;
}
.about:hover .text h1 .move_text:nth-child(5),
.services:hover h1 .move_text:nth-child(5),
.product:hover h1 .move_text:nth-child(5),
.contact:hover h1 .move_text:nth-child(5) {
  transition-delay: 0.5s;
}
.services:hover h1 .move_text:nth-child(6),
.product:hover h1 .move_text:nth-child(6),
.contact:hover h1 .move_text:nth-child(6) {
  transition-delay: 0.6s;
}
.services:hover h1 .move_text:nth-child(7),
.product:hover h1 .move_text:nth-child(7),
.contact:hover h1 .move_text:nth-child(7) {
  transition-delay: 0.7s;
}
.services:hover h1 .move_text:nth-child(8) {
  transition-delay: 0.8s;
}
