@charset "utf-8";

/* font font-family: 'Anton', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.flex {
  display: flex;
}
body {
  position: relative;
  width: 100vw;
  height: 100%;
  /* overflow: hidden; */
}
body::-webkit-scrollbar {
  display: none;
}
main {
  width: 100vw;
  height: 100%;
}
/* 시작! */

header {
  z-index: 9999;
  width: 100%;
  padding: 30px;
  justify-content: space-around;
  position: fixed;
  color: #ddd;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
}

header img {
  width: 100px;
  height: 100%;
}
header ul li {
  padding: 0 10px;
}

/* 메인 시작 */
.lush_main {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-color: #212121; */
  background: url(./images/figma/lush_bg00.svg) no-repeat 50% / cover;
  justify-content: center;
  align-items: center;
}
/* 백그라운드에 들어가는 꽃 이미지 */
.lush_main .bg img {
  position: absolute;
}
.lush_main .bg img:nth-child(1) {
  top: 50px;
  left: 0;
  width: 220px;
}
.lush_main .bg img:nth-child(2) {
  width: 180px;
  top: 0;
  right: 0;
}
.lush_main .bg img:nth-child(3) {
  width: 350px;
  bottom: -15px;
  left: 15px;
}
.lush_main .bg img:nth-child(4) {
  width: 250px;
  bottom: 120px;
  right: 20px;
  transform: rotate(20deg);
  opacity: 0.8;
}
.lush_main .bg img:nth-child(5) {
  width: 300px;
  top: 40px;
  left: 100px;
}
.lush_main .bg img:nth-child(6) {
  width: 250px;
  opacity: 0.8;
  top: 80px;
  right: 350px;
}
/* 러쉬 메인 z idx 조절 */
.lush_main .text,
.lush_main .img {
  z-index: 999;
  position: relative;
}
.lush_main .text {
  width: 40%;
  left: 120px;
}
/* 러쉬 텍스트 */
.lush_main .text h1 {
  font-family: "Anton", sans-serif;
  font-size: 350px;
  color: #fff;
  line-height: 1;
  text-shadow: 5px 5px 7px #1f1f1fb0;
}
.lush_main .text h2 {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ddd;
  line-height: 1;
}
.lush_main .text h3 {
  color: #ddd;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.2;
}
/* 러쉬 이미지 */
.lush_main .img {
  width: 800px;
}

.about {
  width: 100%;
  height: 110vh;
  overflow: hidden;
  position: relative;
  top: -80px;
}
.about .bg {
  /* position: absolute; */
  background: url(./images/figma/lush_bg01.svg) no-repeat 50%;
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.about .img img {
  position: absolute;
}
.about .img img:nth-child(1) {
  top: 30%;
}
.about .img img:nth-child(2) {
  bottom: 10px;
  left: 50px;
  width: 55%;
}
.about .img img:nth-child(3) {
  top: 50%;
  left: 0;
}
.about .text {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 250px 200px;
  font-weight: 600;
}
.about .text h1 {
  font-family: "Anton", sans-serif;
  font-size: 300px;
  line-height: 1;
  text-shadow: 5px 5px 7px #1f1f1fb0;
}
.about .text p {
  z-index: 999;
  font-size: 1.05rem;
  line-height: 1.5;
  color: #fff;
  margin: 30px 0;
  font-size: 18px;
}
.about .text .learn_more {
  width: 200px;
  height: 70px;
  position: relative;
}

.about .text .learn_more img {
  width: 100%;
}
.about .text .learn_more p {
  position: absolute;
  top: 25%;
  left: 15%;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: inherit;
}
.about .text .learn_more:hover p {
  color: #fff;
}
.about .text .learn_more:hover img {
  filter: invert(45%) sepia(44%) saturate(271%) hue-rotate(212deg)
    brightness(92%) contrast(83%);
  transform: scale(1.05);
}
/* services 시작 */
.services {
  width: 100%;
  /* height: 100vh; */
  position: relative;
  top: -140px;
  background: url(./images/figma/lush_bg00.svg) no-repeat 50%;
  background-position: 0 0;
  background-size: cover;
  padding: 250px 0;
}
/* .services .bg {
  position: absolute;
  top: -170px;
} */
.services h1 {
  font-family: "Anton", sans-serif;
  font-size: 300px;
  line-height: 1;
  color: #fff;
  text-shadow: 5px 5px 7px #1f1f1fea;
  text-align: center;
}
.services .flex {
  justify-content: center;
  align-items: center;
}

.services .flex li {
  margin: 0 50px;
  position: relative;
  /* top: -30px; */
}
.services .flex img {
  z-index: 999;
  /* width: 130%; */
  width: 350px;
  transition: 0.2s;
  opacity: 0.7;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.services .flex li:hover img {
  /* transform: scale(1.02); */
  /* border: 5px solid #ffffff; */
  opacity: 1;
  transform: translateY(-30px);
}

.product {
  background: url(./images/figma/lush_bg02.svg) no-repeat 50% / cover;
  background-position: 0 0;
  position: relative;
  top: -220px;
  padding-bottom: 150px;
}
.product h1 {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 300px;
  line-height: 1;
  text-shadow: 5px 5px 7px #1f1f1fb0;
  padding-top: 200px;
}
.product .swiper {
  width: 100%;
  position: relative;
  top: -40px;
}
.product .swiper .swiper-slide {
  width: 50%;
}
.product .swiper .swiper-slide img {
  width: 100%;
}

.contact {
  width: 100%;
  background: url(./images/figma/lush_bg00.svg) no-repeat 50% / cover;
  background-position: 0 0;
  position: relative;
  top: -320px;
  padding-bottom: 200px;
}
.contact h1 {
  font-family: "Anton", sans-serif;
  font-size: 300px;
  line-height: 1;
  text-shadow: 5px 5px 7px #1f1f1fb0;
  margin-left: 200px;
  padding-top: 200px;
  color: #fff;
}
.contact .flex {
  margin: 20px;
  justify-content: center;
  align-items: center;
}
.contact .text {
  margin: 100px 50px;
  color: #fff;
}
.contact .text h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}

.contact .text h3 {
  font-size: 1.4rem;
  margin-bottom: 30px;
}
.contact .text .learn_more {
  width: 200px;
  height: 70px;
  position: relative;
}
.contact .flex .text .learn_more img {
  width: 50%;
}
.contact .text .learn_more p {
  position: absolute;
  top: 25px;
  left: 25%;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: #000;
}
.contact .text .learn_more:hover p {
  color: #fff;
  transform: scale(1.1);
}
.contact .text .learn_more:hover img {
  filter: invert(45%) sepia(44%) saturate(271%) hue-rotate(212deg)
    brightness(92%) contrast(83%);
  transform: scale(1.05);
}
.contact .img {
  position: relative;
  top: -70px;
  width: 700px;
}

footer {
  width: 100%;
  height: 20vh;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 100px;
}
footer .bg {
  width: 100vw;
  height: 500px;
  position: absolute;
}
footer img {
  width: 130px;
  margin-top: 50px;
  /* height: 100%; */
}
footer .text {
  z-index: 999;
  width: 100%;
  height: 20vh;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;
  padding: 20px 80px;
  color: #222;
}
/* footer .text .left .top li {
  font-size: 1.2rem;
  font-weight: bold;
} */
footer .text .left .top li,
footer .text .center p,
footer .text .right p {
  margin: 20px;
  margin-left: 0;
  font-size: 1.2rem;
  font-weight: bold;
}
footer .text .left ul li,
footer .text .center ul li,
footer .text .right ul li {
  margin: 5px 0;
}
.button {
  width: 100%;
  color: #000000;
}
