@charset "utf-8";

html {
  background-color: #ace3e3;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ace3e3;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  height: 10%;
  background: #328080;

  border-radius: 10px;
}
main {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
}
header {
  background-color: #ace3e3;
}
/* 시작! */
.main-header {
  margin: 70px auto;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
}
.main-header .img-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #666;
  font-weight: 700;
  margin-right: 100px;
}
.main-header .txt-box h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 50px 0;
}
.main-header .txt-box p {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 10px 0;
}
.main-header .txt-box ul li {
  text-align: center;
  font-weight: 600;
  margin: 20px 10px;
  width: 120px;
  height: 100%;
  background-color: #bfeff7;
  border-radius: 20px;
  padding: 10px;
}
.overview {
  margin: 70px auto;
}
.overview h1 {
  margin: 100px 70px;
  font-size: 3rem;
  font-weight: bold;
}
.overview .overview-wrapper {
  margin: 0 70px;
  justify-content: center;
}
.overview .overview-wrapper .txt-box {
  margin-right: 50px;
}
.overview .overview-wrapper .txt-box h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 50px 0;
}
.overview .overview-wrapper p {
  margin: 15px 0;
}
.overview .overview-wrapper p .color-m {
  color: #1e9999;
}
.overview .overview-wrapper p .color-o {
  color: #bd6620;
}
.overview img {
  margin: 0 50px;
}
.timeline {
  margin: 200px 70px;
  position: relative;
}
.timeline h1 {
  font-size: 3rem;
  font-weight: bold;
}
.timeline .dog_car {
  position: absolute;
  width: 150px;
  top: -10px;
  left: 1000px;
  transition: 0.3s;
  animation: dogcar 8s infinite ease-in-out;
}
@keyframes dogcar {
  0% {
    transform: translateX(-800px);
    opacity: 0;
  }

  100% {
    transform: translateX(400px);
    opacity: 1;
  }
}
.timeline ul {
  margin: 100px 0;
  justify-content: center;
  align-items: center;
}
.timeline ul li {
  color: #444;
}
.timeline ul li:first-child,
.timeline ul li:last-child {
  color: #1a5858;
  font-size: 1.1rem;
  font-weight: 700;
}
.timeline ul li img {
  width: 30px;
  margin: 0 10px;
}

/* asis tobe */
.asis-tobe {
  margin: 250px 70px;
  display: flex;
  justify-content: center;
}
.asis-tobe div h1 {
  font-size: 2.5rem;
  color: #328080;
  font-weight: bold;
  text-align: center;
}
.asis-tobe .box {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 50px;
  margin: 20px;
  width: 400px;
  height: 450px;
}
.asis-tobe .box h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
.asis-tobe .box p {
  margin: 30px 0;
  line-height: 2;
}

/* 마이파트 시작 */
.my-part {
  width: 100%;
  position: relative;
  margin: 100px 0;
}
.my-part h1 {
  margin: 70px;
  font-size: 3rem;
  font-weight: bold;
}
.my-part img:nth-child(2) {
  position: absolute;
  bottom: -10px;
  right: 50px;
  width: 200px;
  transition: 0.3s;
  animation: twinkle 0.7s infinite;
}
@keyframes twinkle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.my-part img:nth-child(3) {
  display: block;
  width: 80%;
  /* height: 100%; */
  margin: 70px auto;
}
.my-part img:nth-child(4) {
  position: absolute;
  right: 100px;
  bottom: -150px;
  width: 300px;
}

/* 스타일가이드 시작! */
.styleguides {
  margin: 250px 70px;
}
.styleguides h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 70px 0;
}
.styleguides .center {
  justify-content: center;
}
.styleguides .keyword {
  justify-content: center;
  /* align-items: center; */
  margin: 0 50px;
}
.styleguides .keyword h3 {
  font-size: 2rem;
  font-weight: bold;
}
.styleguides .keyword ul li {
  margin: 40px 10px;
  width: 100px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px;
}
.styleguides .keyword p {
  margin: 0 10px;
  line-height: 1.5;
}
.styleguides .color {
  margin-left: 70px;
}
.styleguides .color h3 {
  font-size: 2rem;
  font-weight: bold;
}
.styleguides .color ul {
  flex-direction: row;
}
.styleguides .color ul li {
  margin: 30px 10px;
}
.styleguides .font {
  margin: 50px;
  height: 40vh;
  padding-bottom: 170px;
  align-items: center;
  justify-content: center;
  background: url(./images/font-img.png) no-repeat 50%;
  background-position: 10% 100%;
  flex-direction: column;
  justify-content: left;
}
.styleguides .font .font-wrapper {
  justify-content: center;
  align-items: center;
}
.styleguides .font .font-wrapper .left {
  margin: 0 50px;
}
.styleguides .font .font-wrapper .left ul li:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
}
.styleguides .font .font-wrapper .left ul li:nth-child(2) {
  font-weight: 500;
}
/* 팝핀스 기울어진 글씨 */
.styleguides .font .font-wrapper .left ul:nth-child(2) li p {
  font-style: italic;
}
.styleguides .font h3 {
  text-align: center;
  width: 300px;
  margin: 50px auto;
  font-size: 2rem;
  font-weight: bold;
}
.styleguides .font h4 {
  font-size: 1.5rem;
}
.styleguides .font .left ul li {
  display: flex;
  margin: 20px;
}
.styleguides .font .left ul li p {
  margin: 0 5px;
}
.styleguides .font .right {
  flex-direction: column;
  margin: 0 70px;
}

/* prototype */
.prototype {
  margin: 70px;
}
.prototype h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 70px 0;
}
.prototype .box {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: center;
}
/* 프로토타입 폰트 사이즈 */
.prototype .box h2 {
  font-size: 2rem;
  margin: 20px 0;
}
.prototype .box h3 {
  font-size: 1.5rem;
  color: #666;
  font-weight: 600;
  margin: 20px 0;
}
.prototype .box img {
  width: 700px;
  margin: 130px 50px;
}
/* box2 부터 이미지 크기 조정한것 */
.prototype .box2 {
  margin-left: 50px;
}
.prototype .box2 img {
  width: 800px;
}

.prototype .box3 {
  justify-content: left;
  margin-left: 100px;
  margin-top: 130px;
}
.prototype .box3 img {
  width: 400px;
  margin: 20px;
  margin-bottom: 80px;
}
.review {
  margin: 100px 70px;
  position: relative;
  height: 85vh;
}
.review h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 70px 0;
}
.review .txt-box h3 {
  font-size: 1.5rem;
  color: #1a5858;
  margin: 20px 0;
}
.review .txt-box p {
  margin: 10px 0;
  line-height: 1.5;
}

/* 팀 oozz a 버튼 */
.oozz-link {
  padding: 20px;
  position: absolute;
  bottom: 20px;
  right: 0;
}
.oozz-link img {
  width: 250px;
  height: 100%;
  transition: 0.3s;
}
.oozz-link img:hover {
  transform: scale(1.05);
}
