@charset "utf-8";

html {
  background-color: #d3e7ff;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  height: 10%;
  background: #87aad4;

  border-radius: 10px;
}
main {
  background-color: #fff;
  margin: 70px;
}
/* 색션 크기 고정값 */
section {
  width: 100%;
  height: 85vh;
  /* margin: 70px auto; */
}
/* h1 크기 고정값 */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 [
  font-weight: 500;
]

/***** 작업 시작! *****/

.happyrun-h {
  width: 900px;
  height: 85vh;
  padding: 70px 0;
  /* justify-content: center; */
  justify-content: space-evenly;
  align-items: center;
  /* 뭐야 이거 왜 안먹어 */
}
.happyrun-h .gradcircle {
  background: linear-gradient(to top right, #a3c4ec, #597dc9, #833876);
}
.happyrun-h .left h1 {
  font-size: 10rem;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(to top right, #a3c4ec, #597dc9, #a55097);
  color: transparent;
  -webkit-background-clip: text;
}
.happyrun-h .left h1 span {
  font-size: 6rem;
}
.happyrun-h .left h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #444;
  margin: 5px 0;
}
.happyrun-h .left h4 {
  font-size: 1rem;
  color: #555;
}
.happyrun-h .right {
  align-items: center;
}
.happyrun-h .right .txt {
  margin: 0 50px;
  line-height: 1.5;
}
.happyrun-h .right .txt p {
  margin: 10px 0;
}
.happyrun-h .right .txt span {
  font-weight: 700;
}
.happyrun-h .right ul li {
  font-weight: 600;
  margin: 20px 0;
  padding: 10px 20px;
  color: #333;
  background-color: #e4f0ff;
  border-radius: 20px;
}
.overview {
  height: 100%;
  margin: 70px;
}
.overview h1 {
  margin-bottom: 70px;
}
.overview h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #3b5691;
  margin: 30px 0;
}
.overview p {
  margin: 10px 0;
}
.overview p span {
  color: #597dc9;
  font-size: 1.1rem;
}
.timeline {
  width: 100%;
  height: 100%;
}
.timeline h1 {
  margin: 70px;
}
.timeline ul {
  justify-content: center;
  align-items: center;
}
.timeline ul li {
  margin: 0 10px;
}
.timeline ul li img {
  width: 30px;
}
.swot {
  width: 100%;
  height: 100%;
  margin: 100px auto;
}
.swot h1 {
  text-align: right;
  margin: 50px;
  margin-right: 100px;
  color: #555;
}
.swot .flex {
  justify-content: center;
  flex-wrap: wrap;
}
.swot h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #597dc9;
  margin-bottom: 20px;
}
.swot h2 span {
  color: #3b5691;
}
.swot .flex .txt {
  background-color: #e5f0ff;
  padding: 30px 50px;
  width: 500px;
  height: 230px;
  border-radius: 40px;
  margin: 20px;
}
.swot .flex .txt .flex {
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}
.swot .flex .txt .flex p {
  margin: 10px;
}
.swot .flex .txt .flex p:nth-child(3) {
  color: #666;
}
