@charset "utf-8";

@media all and (min-width:768px) and (max-width:1023px) {

  html {
    font-family: 'NanumSquare', '맑은고딕', '돋움', sans-serif;
  }
img {
  width: 80px;
}
.flex {
  display: flex;
}
body {
  margin: 0;
  list-style: none;
}
h3 {
  margin: 0;
}
a {
  list-style: none;
  text-decoration: none;
  color: #000;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* header */
header {
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  padding: 20px;
}
.menu img {
  width: 30px;
  padding: 20px;
}
.header-menu,
.header-btn {
  display: none;
}
.chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.chat a {
  width: 50px;
  height: 50px;
}
.chat img {
  width: 50px;
}
/* main */
main .section1 video {
  width: 100%;
  height: 100%;
}


main .section2 {
margin: 100px 0;
}

main .section2 .white {
  flex-wrap: nowrap;
  width: 800px;
  margin: 0 auto;
  justify-content: center;
  font-weight: 500;
}
main .section2 .white a {
  min-width: 120px;
  width: 220px;
  height: 120px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin: 10px;
  transition: 0.3s;
  box-shadow: 1px 3px 40px 1px rgba(206, 206, 206, 0.512);
  position: relative;
  background-color: #fff;
}

main .section2 .white a h3 {
  font-size: 1.5rem;
  margin: 20px 0;
}
main .section2 .white a p {
  font-size: 1.1rem;
}
.section2 .white a p:nth-child(3) {
  display: none;
}
main .section2 .white a img {
  position: absolute;
  right: 20px;
  width: 40px;
}
#Layer_1 {
  width: 20px;
}
.section2 .gray {
  width: 800px;
  margin: 0 auto;
  justify-content: center
}
.section2 .gray div {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.section2 .gray a {
  background-color: #D9D9D9;
  border-radius: 20px;
  margin: 10px;
  height: 80px;
  line-height: 80px;
  width: 100%;
  min-width: 300px;
}

.section2 .gray a .flex img {
  width: 20px;
  height: 100%;
  padding-left: 10px;
}
.section2 .gray a .flex p {
  display: none;
}

/* 섹션2 끝남 */
.section3 {
  margin: 30px;
}
.section3 .txt-hidden {
  /* display: none; */
}
.section3 .main-img {
  display: flex;
  flex-wrap: wrap;
}
.section3 .main-img img{
  width: 350px;
}
/* 복어 */
.section3 .main-img .img1 {
  position: relative;
  width: 50%;
  height: 500px;
}
.section3 .main-img .img1 img:nth-child(1) {
  position: absolute;
  top: 0;
}
/* 잡어1 */
.section3 .main-img .img1 img:nth-child(2) {
  position: absolute;
  width: 120px;
  top: 40px;
  left: 300px;
  transform: rotate(-7deg);
}
}
.section3 .main-img .img1 img:nth-child(3) {
  position: absolute;
  width: 95px;
  top: 100px;
  left: 340px;
  transform: rotate(10deg);
  z-index: 99;
}
.section3 .main-img .img1 img:nth-child(4) {
  /* position: absolute;
  width: 450px;
  top: 40px;
  left: -10px; */
}
.section3 .main-img .img1 img:nth-child(5) {
  position: absolute;
  width: 270px;
  top: 140px;
  left: 160px;
  transform: rotate(-7deg);
}
.section3 .main-img .txt {
  width: 50%;
}
.section3 .main-img .txt h1 {
  margin: 0 60px;
}
.section3 .main-img .txt h2 {
  margin: 30px 0 30px 60px;
}
.section3 .main-img .txt p{
  margin: 30px 0 30px 60px;
}
.section3 .main-img .arrow-btn p {
  font-size: 15px;
  padding: 0;
}
.section3 .main-img .arrow-btn img {
  width: 20px;
}
/* 숨김글자 */
.section3 .main-img .txt .t-txt-hidden{
  display: none;
}
.section3 .main-img .num1 h1{
  display: none;
}
/* 열대어 */
.section3 .main-img .img2 {
  position: relative;
}
/* 핸드폰 */
.section3 .main-img .img3 {
  position: relative;
}
/* footer */

footer {
  background-color: #0f0f0f;
  color: #919191;
  padding: 20px;
  padding-bottom: 50px;
}
.footer-link {
  display: block;
}
.footer-body {
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center ;
}
.footer-body .footer-main {
  margin-top: 20px;
}
.footer-body .footer-main p {
  font-size: 12px; 
  padding: 5px;
}
.footer-body .footer-main p:nth-child(3){
  display: none;
}
.footer-body .footer-main p:nth-child(4){
  display: none;
}

.footer-body .my-portpolio a {
  color: #919191;
  font-size: 14px;
  position: relative;
  top: 80px;
}
.footer-body .my-portpolio a::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  border: 1px solid #919191;
}
.sns {
   display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;

}
.sns a img{
width: 40px;
}
}