@charset "utf-8";

/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

:root {
  /* font size */
  --h1-size: 3rem;
  --h2-size: 1.7rem;
  --h3-size: 1.4rem;

  /* font weight */
  --h1-weight: 700;
  --h2-weight: 500;

  /* color */
  --color-main: #d3e7ff;
  --color-b-point: #87aad4;
  --color-db: #3b5691;
}
html {
  background-color: var(--color-main);
  font-family: "Spoqa Han Sans Neo", "Spoqa Han Sans JP", sans-serif;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  height: 10%;
  background: var(--color-b-point);

  border-radius: 10px;
}
main {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
/* 색션 크기 고정값 */
section {
  width: 80%;
  height: 85vh;
}

/***** 작업 시작! *****/

.happyrun-h {
  width: 1100px;
  height: 75vh;
  margin: 70px auto;
  margin-bottom: 170px;
  justify-content: space-evenly;
  align-items: center;
  /* 뭐야 이거 왜 안먹어 */
  align-items: end;
}
.happyrun-h .gradcircle {
  background: linear-gradient(to top right, #a3c4ec, #597dc9, #833876);
}
.happyrun-h .left h1 {
  font-size: 15rem;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(to top right, #a3c4ec, #597dc9, #a55097);
  color: transparent;
  -webkit-background-clip: text;
  line-height: 0.9;
  margin: 0;
}
.happyrun-h .left h1 span {
  font-size: 9rem;
}
.happyrun-h .left h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #444;
  margin: 10px;
}
.happyrun-h .left h4 {
  font-size: 1.5rem;
  color: #555;
  margin: 10px;
}
.happyrun-h .right {
  align-items: center;
  font-size: 1.4rem;
}
.happyrun-h .right .txt {
  margin: 0 50px;
  line-height: 1.5;
  padding: 100px 0;
}
.happyrun-h .right .txt p {
  margin: 10px 0;
}
.happyrun-h .right .txt span {
  font-weight: 700;
}
.happyrun-h .right ul li {
  font-weight: 600;
  margin: 20px 10px;
  padding: 10px 20px;
  color: #333;
  background-color: #e4f0ff;
  border-radius: 20px;
}
.overview {
  height: 100%;
  margin: 150px 70px;
}
.overview h1 {
  margin-bottom: 70px;
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
}
.overview h2 {
  font-size: var(--h2-size);
  font-weight: 600;
  color: #3b5691;
  margin: 30px 0;
}
.overview p {
  margin: 10px 0;
  font-size: 1.2rem;
}
.overview p span {
  color: #3b5691;
  font-size: 1.5rem;
}
.timeline {
  width: 100%;
  height: 100%;
}
.timeline h1 {
  margin: 70px 0;
  margin-left: 70px;
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
}
.timeline ul {
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}
.timeline ul li {
  margin: 0 10px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #444;
}
.timeline ul li img {
  width: 30px;
}
.timeline ul li:nth-child(1) {
  color: var(--color-db);
  color: #111;
  font-weight: 700;
}
.timeline ul li:last-child {
  color: var(--color-db);
  color: #111;
  font-weight: 700;
}
.swot {
  width: 80%;
  height: 100%;
  margin: 100px auto;
  margin-top: 300px;
}
.swot h1 {
  text-align: right;
  margin: 50px;
  margin-right: 100px;
  color: #555;
  font-size: 3rem;
  font-weight: var(--h1-weight);
}
.swot .flex {
  justify-content: center;
  flex-wrap: wrap;
}
.swot h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #597dc9;
  margin-bottom: 20px;
}
.swot h2 span {
  color: #3b5691;
}
.swot .flex .txt {
  background-color: #e5f0ff;
  padding: 30px 50px;
  width: 500px;
  height: 230px;
  border-radius: 40px;
  margin: 20px;
}
.swot .flex .txt .flex {
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}
.swot .flex .txt .flex p {
  margin: 10px;
}
.swot .flex .txt .flex p:nth-child(3) {
  color: #666;
}

/* ux 비전 */
.ux-vision {
  margin: 20% auto;
  width: 600px;
  height: 500px;
  background: radial-gradient(
    #c1ddff,
    #edf4ff,
    rgba(228, 246, 255, 0.164),
    rgba(255, 255, 255, 0)
  );
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ux-vision .box {
  flex-direction: column;
}
.ux-vision .box h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #1340a0;
  margin-bottom: 50px;
}
.ux-vision .box h2 {
  font-size: 1.6rem;
  color: #555;
  font-weight: 600;
}
.ux-vision .box h2 strong {
  font-size: 2rem;
  line-height: 2;
  color: #444;
}
.asis-tobe {
  margin: 0 auto;
  justify-content: center;
}

.asis-tobe div h1 {
  font-size: 2.7rem;
  text-align: center;
  color: var(--color-b-point);
  font-weight: var(--h1-weight);
}
.asis-tobe div ul {
  border: 1px solid #777;
  border-radius: 30px;
  margin: 20px;
  height: 600px;
  padding: 50px;
}
.asis-tobe div ul h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 0;
}
.asis-tobe div ul li {
  margin: 15px 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

/* style guides */
.styleguides {
  width: 100%;
  height: 100%;
}
.styleguides h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  margin: 70px;
}

.styleguides .flex h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 70px 0;
}
.styleguides .keyword {
  width: 700px;
}
.styleguides .flex {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.styleguides .keyword ul {
  justify-content: left;
}
.styleguides .keyword ul li {
  width: 130px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #333;
  border: 1px solid #555;
  border-radius: 40px;
  margin: 20px;
}
.styleguides .keyword p {
  margin: 20px;
  line-height: 1.5;
}
.styleguides .font {
  width: 100%;
  flex-wrap: wrap;
  /* justify-content: left; */
  /* margin: 50px auto; */
  justify-content: center;
  margin: 40px auto;
}
.styleguides .font h2 {
  font-size: 2rem;
  font-weight: 600;
}
.styleguides .font .left,
.styleguides .font .right {
  border: 1px solid #555;
  margin: 20px;
  border-radius: 50px;
  padding: 50px;
}
.styleguides .font .left li,
.styleguides .font .right li {
  display: flex;
  justify-content: space-between;
  width: 400px; /* li 안에 글자끼리 떨어져 보이게 넣은것 */
  margin: 30px;
  font-size: 1.3rem;
}

/* li 굵기 조정 */
.styleguides .font .left li:nth-child(1) {
  font-weight: 900;
}
.styleguides .font .left li:nth-child(2) {
  font-weight: 700;
}
.styleguides .font .left li:nth-child(3) {
  font-weight: 400;
}
.styleguides .font .left li:nth-child(4) {
  font-weight: 200;
}
.styleguides .font .left li p:nth-child(2) {
  text-align: left;
  width: 100px; /* li 안에 글자끼리 떨어져 보이게 넣은것 */
}
.styleguides .font .left li:last-child {
  margin-top: 90px;
}
.styleguides .font ul li:last-child {
  text-align: center;
  font-size: 1.2rem;
  width: 430px;
  margin-top: 50px;
}
.styleguides .font ul p {
  line-height: 2;
}
.styleguides .font ul p strong {
  font-size: 1.5rem;
}
.styleguides .font .right li p {
  font-size: 2rem;
  font-weight: 900;
}
.styleguides .font .right li:nth-child(3) {
  font-weight: 700;
  justify-content: flex-end;
}
.styleguides .font .right li:last-child {
  text-align: center;
  font-size: 1.2rem;
  width: 430px;
  flex-direction: column;
}

/* .styleguides .font .right li:last-child {
  text-align: center;
  font-size: 1.2rem;
  /* width: 430px; 
}*/
.styleguides .font .right li:nth-child(2) p {
  font-size: 1.7rem;
  font-weight: 600;
}
.styleguides .font .right li p:nth-child(2) {
  text-align: left;
  width: 200px; /* li 안에 글자끼리 떨어져 보이게 넣은것 */
}
.styleguides .font .right li:last-child {
  text-align: center;
}
.styleguides .font .right .bold {
  font-size: 4.5rem;
  text-align: right;
  color: #999;
  font-weight: 700;
  padding-right: 50px;
}
.styleguides .font .right li:last-child {
  width: 430px;
  margin: 0;
}
.styleguides .font .right li:last-child p:last-child {
  font-size: 1.2rem;
  font-weight: 400;
}
.styleguides .font .right li:last-child p:last-child strong {
  font-size: 1.5rem;
}

/* 와이어프레임 워크플로우 */
.wireframe {
  margin: 170px 0;
  width: 100%;
  height: 100%;
}
.wireframe h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  margin: 150px 70px;
  margin-bottom: 80px;
}
.wireframe img {
  width: 70%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

/***** 프로토 타입 *****/
.prototype {
  width: 100%;
  height: 100%;
  /* margin: 150px 70px; */
}
.prototype h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  margin-left: 70px;
}
.prototype .box .flex {
  margin: 70px;
  align-items: center;
  justify-content: center;
}
.prototype .box .flex img {
  justify-content: center;
  width: 250px;
  height: 100%;
  margin: 50px;
}
.prototype .box:nth-child(3) .flex img {
  width: 550px;
}
.prototype .box:nth-child(3) .flex .flex {
  flex-wrap: wrap;
}
.prototype .box .txt {
  margin-left: 50px;
}
.prototype .box:nth-child(3) {
  width: 1200px;
  margin: 0 auto;
}
.prototype .box:nth-child(3) .txt {
  width: 600px;
}
.prototype .box:nth-child(3) .flex {
  margin: 0;
}
.prototype .box .txt h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #777;
  margin: 20px 0;
}
.prototype .box .txt h2 {
  font-size: 2rem;
  color: #333;
  margin: 20px 0;
}
.prototype .box .txt p {
  color: #333;
  line-height: 1.5;
}

/* review */
.review {
  width: 100%;
  height: 100%;
}

.review h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  margin: 70px;
  margin-bottom: 100px;
}
.review .txt-box {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 200px;
}
.review h3 {
  font-size: 1.3rem;
  color: #597dc9;
  font-weight: 600;
  margin: 30px 0;
}
.review p {
  width: 100%;
  line-height: 1.7;
}
.review span p {
  margin-top: 10px;
  margin-bottom: 50px;
  color: #777;
}

/* pdf 파일 바로가기 */
main a {
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 350px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50px 0 0 50px;
  background: linear-gradient(to right, #a1bbf5, #fff, #fff);
  color: #4e75af;
  font-size: 1.7rem;
  font-weight: 700;

  transition: 0.4s;
  /*!! 인터넷 긁어온거 !!*/
  background-size: 200% auto;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
main a:hover {
  background-position: right center;
}
main a:hover {
  background-image: linear-gradient(
    to right,
    #fbc2eb 0%,
    #a6c1ee 51%,
    #fff 100%
  );
  color: #fff;
}
