@charset 'utf-8';

main {
  background-color: #fff;
  /* width: 100%; */
  margin: 100px;
  margin-top: 70px;
}
/* 색션 스타일 */
section {
  width: 90%;
  margin: 70px auto;
  padding: 50px;
}
/* h1 기본 스타일 */
section h1 {
  font-size: 3rem;
  /* padding: 70px; */
  font-weight: bold;
}
.main-1 {
  padding-top: 100px;
  height: 80vh;
  display: flex;
}
.main-1 .text-box {
  width: 50%;
  margin: 100px 0;
}
.main-1 .text-box h1 {
  margin-bottom: 100px;
}
.main-1 .text-box p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 40px 0;
  margin-left: 30px;
}
.main-1 .text-box p:nth-child(2) {
  margin-top: 70px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #fffaae 50%);
  width: 400px;
}
.main-1 .text-box p:nth-child(3) {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #fff7ae 50%);
  width: 420px;
}
.main-1 .img-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 70px 0;
  position: relative;
  left: -50px;
}
.main-1 .img-box h1 {
  text-align: center;
  font-size: 2rem;
}
.main-1 .img-box .screen {
  margin-top: 70px;
  position: relative;
  width: 100%;
  height: 100%;
}
.main-1 .img-box .screen .mobile {
  position: absolute;
  top: 10px;
  left: -140px;
  z-index: 999;
  width: 170px;
}
.main-1 .img-box .screen .pc {
  position: absolute;
  top: -40px;
  left: -30px;
}
.main-1 .img-box .screen .tablet {
  position: absolute;
  top: 70px;
  left: 450px;
  width: 400px;
}

/* 스타일 가이드 시작! */
.styleGuides {
  height: 100%;
}
.styleGuides .flex {
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
  margin: 70px;
}
.styleGuides h2 {
  font-weight: bold;
  font-size: 2rem;
}
.styleGuides .font {
  margin: 0 50px;
}
.styleGuides .font p {
  margin: 0 50px;
  padding-top: 70px;
  font-size: 1.5rem;
  line-height: 1.2;
}
.styleGuides .font h3 {
  font-size: 1.3rem;
  margin: 70px 50px;
}
.styleGuides .point-color h2,
.styleGuides .gray-color h2,
.styleGuides .font h2,
.styleGuides .icon h2 {
  margin: 50px;
}
.styleGuides img {
  width: 300px;
  margin: 20px;
}
.styleGuides .icon img {
  width: 200px;
}
/* 퍼블리싱 */
.publishing h1 {
  margin: 70px 0;
}
.publishing p {
  font-size: 1.1rem;
  line-height: 1.2;
  margin: 20px;
}
.publishing .txt-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.publishing .txt-box .left {
  margin-right: 50px;
}
.publishing .txt-box p {
  font-size: 1.2rem;
}
.publishing .txt-box p strong {
  font-size: 1.7rem;
  margin: 30px 0;
}

.problem .problem-text h1 {
  margin: 70px 0;
}
.problem .problem-text h3 {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 15px 0;
}
.problem .problem-text p {
  font-size: 1.2rem;
}
.problem .number1 {
  /* margin: 80px 0; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.problem .number1 {
  margin: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.problem .number1 .txt {
  /* width: 500px; */
  margin: 50px;
  line-height: 1.5;
}
.problem .number1 img:nth-child(4) {
  width: 200px;
  margin: 20px 0;
}
.problem .number1 img {
  width: 500px;
}
.problem .number2 {
  margin: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.problem .number2 .txt {
  width: 700px;
  margin: 70px;
  margin-right: 200px;
  line-height: 1.5;
}
.problem .number2 img {
  width: 450px;
  margin: 10px 0;
}
.problem .number2 img:nth-child(1) {
  width: 250px;
  margin-right: 10px;
}
/*  */
.review {
  height: 80vh;
  position: relative;
}
.review h1 {
  margin: 70px 0;
}
.review p {
  font-size: 1.2rem;
  margin: 30px 0;
  line-height: 1.5;
}

/* 색션 뷰박스, 컨택트 마진값 없애기 */
.contact,
.viewBox {
  margin: 0;
  padding: 0;
}

.coex-button {
  width: 300px;
  padding: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.3s;
}
.coex-button img {
  width: 250px;
}
.coex-button:hover {
  transform: scale(1.1);
}
